<div class="content">

	<div class="sliderMobile">
	  <div class="slideContainer" style="width:400%;margin-left:{{sliderPositionMobile}}%">
    	<!--div class="sliderImage" style="background-color:yellow;width:50%">
    		<img src="screen_1a.jpg" class="sliderImage" style="width:100%"/>
		</div-->
		<div class="sliderImage">
    		<img src="slide_3_1_capture.png" class="sliderImage sep" style="width:100%" ng-click="go($event,'business_rebates')"/>
		</div>
		<div class="sliderImage">
    		<img src="screen_1a.jpg" class="sliderImage sep" style="width:100%"/>
		</div>
		<div class="sliderImage">
    		<img src="screen_2.png" class="sliderImage sep" style="width:100%" ng-click="go($event,'contact')"/>
		</div>
		<div class="sliderImage">
    		<img src="slide_4_capture1.png" class="sliderImage sep" style="width:100%" ng-click="go($event, 'recessed_lights')"/>
		</div>

	  </div>
		<!--div id="sliderBack" ng-click="slideLeft('clicked')">
			<img src="left.png" style="margin-top:20px;padding:0;height:200px;width:90px;"/>
		</div>
		<div id="sliderForward" ng-click="slideRight('clicked')">
			<img src="right.png" style="margin-top:20px;padding:0;height:200px;width:90px;"/>
		</div-->
	</div>










	<div class="slider">
	  <div class="slideContainer" ng-style="sliderStyle" >
		<div class="sliderImage" style="background-color:white">
    		<img src="screen_4.png" class="sliderImage" style=""/>
			<div class="textSlider">
				<span class="greenFont" style="margin-left:10px">
					Upgrade your Business 
				</span></br>
				<span class="blueFont" >
					at <span style="font-size:30px;letter-spacing:1px;font-weight:bold">Little to no Upfront Cost</span> with
				</span></br>
				<span class="greenFont" style="margin-left:30px">
					Commercial
					<div class="lightUpHover" style="color:orange" ng-click="go($event,'business_rebates')"> Incentives and Rebates ></div>
				</span>
				
			</div>
		</div>
    	<div class="sliderImage" style="background-color:yellow">
    		<img src="screen_1a.jpg" class="sliderImage"/>
		</div>
		<div class="sliderImage" style="background-color:magenta">
    		<img src="screen_2.png" class="sliderImage" style=""/>
		</div>
		<div class="sliderImage" style="background-color:purple">
    		<img src="screen_5.png" class="sliderImage" style=""/>
			<div class="textSlider">
				<span class="blueFont" style="margin-left:10px">
                    Add a <b>modern touch</b> to your
				</span></br>
				<span class="blueFont" style="margin-left:15px">
					 <span style="color:#45b50b">home</span> or 
					 <span style="color:#45b50b">retail space </span> with
				</span></br>
				 </br> <div  ng-click="go($event,'recessed_lights')" class="lightUpHover" style="margin-top:-10px;color:orange;font-size:30px;letter-spacing:1px;font-weight:500">Recessed LED Lighting ></div> 
				
			</div>
		</div>

    	<!--img src="screen_1a.jpg" class="sliderImage" style="margin-left:{{sliderPosition}}px"/-->
    	<!--img src="screen_2.png" class="sliderImage" style=""/>
    	<img src="screen_2.png" class="sliderImage" style=""/-->
	  </div>
		<div id="sliderBack" ng-click="slideLeft('clicked')">
			<img src="left.png" style="margin-top:20px;padding:0;height:200px;width:90px;"/>
		</div>
		<div id="sliderForward" ng-click="slideRight('clicked')">
			<img src="right.png" style="margin-top:20px;padding:0;height:200px;width:90px;"/>
		</div>
	</div>
    <div class="linksContainerMobile">
       <!--div style="margin-top:15px;font-size:2em;position:relative;float:left">Visit us on Social Media: </div-->
		<a target="_blank" href="https://www.facebook.com/TeslaSolutionsInc/">
    		<img class="socialLink" src="facebook_logo.png" title="Visit us on Facebook" style="width:25%;"/>
		</a>
		<a target="_blank" href="https://twitter.com/TeslaSolution">
    		<img class="socialLink" src="twitter_logo1.png" title="Tesla Solutions on twitter" style="width:25%"/>
		</a>

    </div>
	
	<div class="textPc">
Tesla Solutions is a thriving electrical contracting company based in the San Francisco Bay Area, committed to delivering green and value-driven solutions. By providing the best in energy-efficient equipment, our goal is to do good for our clients, the planet and its people, while building a business that creates jobs in our community.
	</div>
	<div class="picturePcRight">
		<img src="tesla_logo.png" style="width:360px"/>
	</div>
	<div class="sectionHeaderPc">
		About Tesla Solutions
	</div>
	<div class="textPcFull">
Tesla Solutions was established in 2004 by a group of seasoned Bay Area electrical professionals. Our core values combine environmental friendliness, a movement towards clean and alternative energy sources, a dedication to customer satisfaction, and a focus on long-term value for our clients.</br></br>
	</div>
	<div class="textPcFull">

We serve the San Francisco Bay Area, as well as communities within a 30-mile radius. We are licensed, bonded and insured California contractors, providing complete electrical solutions, including LED lighting installation, home automation sytems, electrical retrofitting and many more.</br></br>
	</div>
	<div class="textPcFull">
In collaboration with PG&E and local energy companies, we deliver a number of incentive and rebate programs. These programs are available to commercial, industrial and agricultural businesses who wish to install eligible products. We believe that value and ecological sustainability go hand-in-hand, and we take pride in providing solutions that yield lasting benefits for both the environment and our clients.
	</div>
	<div class="sectionHeaderPc">
		Our values 
	</div>
	<div class="sectionSubHeaderPc">
		Environmentally friendly
	</div>
	<div class="textPcFull">
We specialize in the design and installation of clean and energy-efficient systems. By bringing this technology to our clients, we hope to make environmentally friendly contracting the norm and create a more sustainable community one building at a time. </br></br>
	</div>
	<div class="textPcFull">
Traditional systems often have a high environmental impact. Older or inefficient electrical and HVAC systems are a significant drain on our nation's energy resources, and standard commercial refrigeration systems generate large quantities of greenhouse gases.</br></br>
	</div>
	<div class="textPcFull">
The components we install are engineered and proven to be better for the environment. Our team of knowledgeable professionals is committed to designing systems that will address the whole building and minimize the client's carbon footprint.</br></br>
	</div>
	<div class="sectionSubHeaderPc">
		Value-Driven, Complete Electrical Solutions
	</div>
	<div class="textPcFull">
		Energy efficiency means more than just installing new appliances. Upgrading a building's electrical system can also decrease energy costs substantially.</br></br>
	</div>
	<div class="textPcFull">
As certified electrical contractors, we work with our clients to design electrical systems to meet their needs, and provide lighting and wiring upgrades, as well as low-voltage fixtures and automation systems. Currently, benefit and incentive programs are available to many businesses, making this the ideal time to upgrade an electrical system.
	</div>
	<!--div class="sectionSubHeaderPc">
		Clean-Efficient Energy Solutions
	</div>
	<div class="textPcFull">
We value our planet's natural resources. Looking towards a more sustainable future, we recognize the need to lower fossil fuel consumption in order to conserve these resources.</br></br>
	</div>
	<div class="textPcFull">
We fully support green energy technology, and welcome the opportunities that will emerge as alternative energy gains popularity both in research and in practice. Clean sources of power such as solar and wind are vital in order to minimize the human ecological footprint and protect the environment.</br></br>
	</div>
	<div class="textPcFull">
The systems we design are energy efficient, minimizing environmental impact as well as saving money for our clients. We are more than willing to work with alternative energy sources, and install solar panels and solar hot water heaters.</br></br>
	</div-->
	<div class="sectionSubHeaderPc">
		Name-Brand Components
	</div>
	<div class="textPcFull">
In order to deliver true value to our clients, we build systems that last. The components we use are durable and high-quality products from trusted manufacturers. This ensures that the solutions we install perform as intended, and minimizes opportunities for energy inefficiency.
	</div>
	<div class="sectionSubHeaderPc">
Manufacturer's Warranty
	</div>
	<div class="textPcFull">
Customer satisfaction is our primary objective, and we know that a client who chooses us is making an investment in energy efficiency. We protect our clients' investments by offering items with a manufacturer's warranty. Manufacturers include Sylvania, ElectraLED and others.
	</div>
		
</div>
