<div class="content">
	<div class="sectionHeaderPc">
		Contact Tesla Solutions
	</div>
	<div class="sectionSubHeaderPc">
		Online
	</div>
	<div class="textPcFull">
		We respond to most requests within 24 hours. Please make sure to provide a valid e-mail. If you prefer a response by phone, please indicate so in your message. We value your privacy and don't share your information with anyone.
	</div>
	<div class="textPcFull">
		<form>
		<input id="emailContact" class="contactSmall" type="text" ng-model="formData.email"/>
		<input id="nameContact" class="contactSmall" type="text" ng-model="formData.name"/>
		<textarea id="messageContact" class="contactBig" type="text" ng-model="formData.message"/>
		<button class="contactSubmit" ng-click="submit()">Send Form</button>
		</form>
	</div>
	
	<div class="sectionSubHeaderPc">
		Phone
	</div>
	<a href="" class="textPcFull contactPc">
		<img src="call.png" style="margin-left:170px;height:80px;position:relative;float:left"/>
		<div style="margin-left:30px;font-size:44px;postion:relative;float:left;height:80px;line-height:80px;">
			(408)597-6245
		</div>
	</a>
	<a href="tel:4085976245"class="textPcFull contactMobile">
		<img src="call.png" style="margin-left:25%;width:50%;position:relative;float:left"/>
		<div style="text-indent:0;clear:left;margin-left:5%;font-size:1.5em;width:90%;text-align:center;postion:relative;float:left;height:80px;line-height:80px;">
			(408)597-6245
		</div>
	</a>
	<div class="textPcFull">
			If our lines are busy, please leave a message and we'll get back to you as soon as possible.
	</br>
	</br>
	</div>
	</div>
	
</div>
